body {
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#cadre {
    background-color: white;
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5rem 5rem 5rem 5rem;
}

h4 {
    color: black;
}

#entUser {
    padding-right: 1rem;
}

#nouv {
    margin-top: 1rem;
    margin-bottom: 1rem;
}